---
---

$font1: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$font2: lato-regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif,"Courier","Ubuntu Mono";

$shadow: 5px 5px 5px #888;
