---
---
@charset "utf-8";
body{
	background-color:#dda;
	font-family: lato-regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif,"Courier","Ubuntu Mono";
}
.main{
	border-radius:1em;
	@media (min-width:800px){
		width:800px;
		margin:30px auto;
	}
	@media (max-width:800px){
		width:100%;
		margin:1px auto;
	}
	.header{
		background-color:#222;
		color:white;
		text-align: center;
		padding: 1.5em;
		border-top-left-radius:1em;
		border-top-right-radius:1em;
	}
	nav{
		background-color:#444;
		color: white;
		text-align: center;
		padding:.8em;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    ul{
      list-style:none;
      li {
        display:inline-block;
        text-align:center;
        padding-left: 10px;
      }
    }
	}
	.content{
		padding:2em;
		background-color:white;
		border-bottom-left-radius:1em;
		border-bottom-right-radius:1em;
		img{
			max-width: 90%;
		}
		code{
			font-family: "Monaco","Ubuntu Mono","Source Code Pro";
			font-size: 0.9em;
			background-color:rgba(0,0,0,0.05);
			padding: 0.5em;
			border-radius:5px;
			color:#f34b7d;
		}
		table{
			width: 100%;
			margin-bottom: 20px;
			border-color:grey;
			tr{
				border-spacing:2px;
				&:hover{
					background-color:#7eb6ad;
					a{
						color:white;
					}
				}
			}
			td{
				line-height: 1.5em;
				padding:20px;
				vertical-align: middle;
				text-align: center;
				border:1px solid #ddd;
				a{
					display: block;
					color: #c0865e;
				}
			}
		}
	}
}
footer{
	text-align:center;
	ul{
		list-style: none;
		li{
			display: inline;
			padding:1em;
			a{
				color:#000;
			}
		}
	}
}
a{
	text-decoration:none;
}
.highlight{
	background-color:#232323;
	overflow:auto;
	display:block;
	line-height:1.9em;
	border-radius:5px;
	margin:20px auto;
	background-color:#232323;
	color:white;
	padding:20px;
	font-family:"Monaco","Ubuntu Mono","Courier";
	code{
		background-color:#232323 !important;
		font-size: 1em !important;
		padding: 0 !important;
	}
}
//bootstrap
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  font-style: italic;
}
p{
	line-height:2em;
}
