<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% feed_meta %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="AnnatarHe Annatar hele 贺乐 {{ page.title }} 贺乐同学 个人博客">
	<meta name="description" content="AnnatarHe 贺乐同学">
	<meta name="author" content="AnnatarHe,iamhele1994@gmail.com">
	<title>{{ page.title }} | AnnatarHe's blog</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack-extended.min.css" />
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/app.css">
</head>
