<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="AnnatarHe Annatar hele 贺乐 {{page.title}} 贺乐同学 个人博客">
	<meta name="description" content="AnnatarHe 贺乐同学的梦想与生活,全栈型方向">
	<meta name="author" content="AnnatarHe,hele@iamhele.com">
	<title>{{page.title}} | AnnatarHe personal blog</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/monokai.css">
	<link href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>