<body>
<div class="main">
	<div class="header">
		<h1>{{ page.title }}</h1>
	</div>
	<nav>
    <ul class="list-unstyled nav__list">
      <li>
        <a href="{{ site.url }}" class="nav__link">
          <i class="fa fa-home fa-lg"></i>Index
         </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about.html" class="nav__link">
          <i class="fa fa-slack fa-lg"></i>About
          </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/feed.xml" class="nav__link">
          <i class="fa fa-rss-square fa-lg"></i>RSS
        </a>
      </li>
      <li>
        <a href="https://www.iamhele.com" target="_blank" class="nav__link">
          <i class="fa fa-location-arrow fa-lg"></i>Resume
        </a>
      </li>
      <li>
        <a href="javascript:;" class="nav__link searchTrigger">
          <i class="fa fa-search fa-lg"></i>Search
        </a>
      </li>
    </ul>
	</nav>
