.back-to-top
    transition all .35s
    position fixed
    bottom 5rem
    right 10rem
    background-color #888
    padding .7rem
    border-radius .3rem
    display block
    cursor pointer

    i.fa
        color #fff
