.highlight
    background-color #232323
    overflow auto
    display block
    line-height 1.9em
    border-radius 5px
    margin 20px auto
    background-color #232323
    color white
    padding 20px
    font-family $codeFont
    code
        background-color #232323 !important
        font-size 1em !important
        padding 0 !important
code
    font-size 0.9em
    padding 0.5em
    background-color rgba(0, 0, 0, 0.05)
    color #f34b7d