.highlight
    background-color #232323
    overflow auto
    display block
    line-height 1.9rem
    border-radius 5px
    margin 1rem auto
    color white
    padding 1rem
    font-family $codeFont
    code
        background-color #232323 !important
        font-size 1rem !important
        padding 0 !important
code
    font-size 0.9rem
    padding 0.5rem
    background-color rgba(0, 0, 0, 0.05)
    color #f34b7d
    table
        td
            text-align left
            border none
            padding 0 .5rem