.content
    padding 2em
    background-color  #fff
    border-bottom-left-radius 1em
    border-bottom-right-radius 1em
    @media (max-width: $mdScreen) 
        padding  1em
    a 
      display inline-block
      padding 0 .5rem
    ul
        li 
            padding-bottom .8em
    img
        max-width 90%
    code
        font-family $codeFont
        font-size 0.9em
        background-color rgba(0,0,0,0.05)
        padding 0.5em
        border-radius 5px
        color #f34b7d
