@import './variable'
table
    width 100%
    margin-bottom 20px
    border-color grey
    tr
        border-spacing 2px
        &:hover
            background-color #7eb6ad
            text-shadow $shadow
            transition all .2s ease-in
            a
                color #fff
                transition all .2s ease-in
    
    td
        line-height 1.5em
        vertical-align middle
        text-align center
        border 1px solid #ddd
        a
            display block
            color #c0865e
            
    



