$body-background-color = #eee
$font1 = Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif
$font2 = lato-regular,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif,"Courier","Ubuntu Mono"

$shadow = 5px 5px 5px #888

$codeFont = "Monaco","Ubuntu Mono","hack","Source Code Pro"

$mdScreen = 760pt

$grey-lite = #e3e3e3

$alert-container-error-color = #ffbbbb
$alert-font-error-color = #d33131