<template>
    <style>
        .search-bar-container {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #f0f0f0;
        }
        .search-bar-input {
            padding: 1rem .5rem;
            width: 100%;
            background-color: #f0f0f0;
        }
    </style>
    <sidebar class="search-bar-container">
        <input type="text" class="search-bar-input" />
    </sidebar>
</template>
<script>
(function() {

    function doSearch(val) {
    }

    const $input = document.querySelector('.search-bar-input')
    $input.addEventListener('keydown', e => {
        if (e.keyCode === 13) {
            doSearch(e.target.value.trim())
        }
    })

    document.registerElement('search-bar', {
        prototype: Object.create(HTMLElement.prototype, {
            createdCallback: {}
        })
    })
})()
</script>
