---
import IconExternalLink from "../icons/external-link.astro";

type Props = {
  href?: string;
};

const { href } = Astro.props;
const isExternalLink = href?.startsWith("http");
---

<a
  class="transition-all active:scale-95 duration-75 p-1 rounded-lg leading-none hover:bg-teal-400/30 no-underline inline-block relative mr-4"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
  {
    isExternalLink && (
      <IconExternalLink className="scale-50 -translate-y-2 -translate-x-1 -mr-2 absolute top-0 -right-4" />
    )
  }
</a>
