---
import IconExternalLink from "../icons/external-link.astro";

type Props = {
  href?: string;
};

const { href } = Astro.props;
const isExternalLink = href?.startsWith("http");
---

<a
  class="text-teal-400 hover:text-teal-300 underline underline-offset-2 decoration-teal-400/50 hover:decoration-teal-300 transition-colors"
  href={href}
  target={isExternalLink ? "_blank" : undefined}
  rel={isExternalLink ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
