/**
 * Main page and post page Style sheets
 */

body{
	background-color:#dda;
	font-family: $font1;
}
.main{
	border-radius:1em;
	@media (min-width: $mdScreen){
		width: $mdScreen;
		margin:30px auto;
	}
	@media (max-width: $mdScreen){
		width:100%;
		margin:1px auto;
	}
	.header{
		background-color:#222;
		color:white;
		text-align: center;
		padding: 1.5em;
		border-top-left-radius:1em;
		border-top-right-radius:1em;
	}
	nav{
		background-color:#444;
		color: white;
		text-align: center;
		padding: .8em;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    ul{
      list-style:none;
      padding-left: 0;
      li {
        display:inline-block;
        text-align:center;
        padding-left: 10px;
      }
    }
	}
	.content{
		padding:2em;
		background-color: #fff;
		border-bottom-left-radius:1em;
		border-bottom-right-radius:1em;
		@media (max-width:  $mdScreen) {
			padding: 1em;
		}
    a {
      display: inline-block;
      padding: 0 .5rem;
      /*cursor: crosshair;*/
      /*&:hover {*/
        /*background-color: #ddd;*/
      /*}*/

    }
		ul{
			li {
				padding-bottom: .8em;
			}
		}
		img{
			max-width: 90%;
		}
		code{
			font-family: $codeFont;
			font-size: 0.9em;
			background-color:rgba(0,0,0,0.05);
			padding: 0.5em;
			border-radius:5px;
			color:#f34b7d;
		}
		table{
			width: 100%;
			margin-bottom: 20px;
			border-color:grey;
			tr{
				border-spacing:2px;
				&:hover{
					background-color: #7eb6ad;
					text-shadow: $shadow;
					transition: all .2s ease-in;
					a{
						color: #fff;
						transition: all .2s ease-in;
					}
				}
			}
			td{
				line-height: 1.5em;
				padding:20px;
				vertical-align: middle;
				text-align: center;
				border:1px solid #ddd;
				a{
					display: block;
					color: #c0865e;
      				}
			}
		}
	}
}
footer{
    padding-top: 1em;
	text-align:center;
	ul{
		list-style: none;
        margin: 0;
		li{
			display: inline-block;
			padding:1em;
            padding-top: 0;
			a{
				color:#000;
			}
		}
	}
}
a{
	text-decoration:none;
}
.highlight{
	background-color:#232323;
	overflow:auto;
	display:block;
	line-height:1.9em;
	border-radius:5px;
	margin:20px auto;
	background-color:#232323;
	color:white;
	padding:20px;
	font-family:$codeFont;
	code{
		background-color:#232323 !important;
		font-size: 1em !important;
		padding: 0 !important;
	}
}
//bootstrap
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  font-style: italic;
}
p{
	line-height:2em;
}

// pagination
.pagination{
  text-align: center;
  a {
    color: #4caf50;
    &:visited{
      color: #4caf50;
    }
  }
}


.list-unstyled {
  list-style: none;
  padding-left: 0;
}
code {
  font-size: 0.9em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #f34b7d;
}
