{% include head.html %}
<body>
<div class="main">
	<div class="header">
		<h1>{{page.title}}</h1>
	</div>
	<nav>
		<h3>Contact me : hele@iamhele.com</h3>
	</nav>
	<div class="content">
				{{ content }}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'annatarhegithubio';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	</div>
</div>
{% include footer.html %}